# This file is used to set environment variables for the system.
# Use this as a template to create your own .env file

# Personal information
MY_NAME=
MY_EMAIL=

# Work information
WORK_COMPANY_NAME=
WORK_EMAIL=

# GitHub
GITHUB_TOKEN=
