#!/usr/bin/env bash

# Create a directory if it doesn't exist
mk() {
    mkdir -p "$@"
}

# Create a directory if it doesn't exist and cd into it
mkcd() {
    mk "$@" && cd "$@"
}

# Delete all branches except main or the specified branch
git-branch-cleanup() {
    keep_branch=${1:-main}
    git branch | grep -v "$keep_branch" | xargs git branch -D
}
